<div class="columns">
  <div class="one-third column centered">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <dl class="form">
        <dt>
          <%= f.label :email %>
        </dt>
        <dd>
          <%= f.email_field :email, placeholder: 'Your email goes here', autofocus: true %>
        </dd>
      </dl>

      <dl class="form">
        <dt>
          <%= f.label :password %>
        </dt>
        <dd>
          <%= f.password_field :password, placeholder: 'Your password goes here', autocomplete: "off" %>
        </dd>
      </dl>

      <% if devise_mapping.rememberable? -%>
        <dl class="form">
          <dd>
            <%= f.check_box :remember_me %>
          </dd>
          <dt>
            <%= f.label :remember_me %>
          </dt>
        </dl>
      <% end -%>



      <div class="form-actions actions">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>
</div>
